div.bakerloo {
	background: #894e24;
}
div.central {
	background: #dc241f;
}
div.circle {
	background: #ffce00;
}
div.district {
	background: #007229;
}
div.hammersmith {
	background: #d799af;
}
div.jubilee {
	background: #868f98;
}
div.metropolitan {
	background: #751056;
}
div.northern {
	background: #000000;
}
div.piccadilly {
	background: #0019a8;
}
div.victoria {
	background: #00a9e2;
}
div.waterloo {
	background: #76d0bd;
}
div.dlr {
	background: #00afad;
}
div.overground {
	background: #e86a10;
}
div.airline {
	background: #ff0066;
}
div.chiltern {
	background: #9955ff;
}
div.coast {
	background: #aa0044;
}
div.capital {
	background: #800080;
}
div.western {
	background: #0066ff;
}
div.anglia {
	background: #454837;
}
div.midland {
	background: #abc837;
}
div.southern {
	background: #008066;
}
div.southeastern {
	background: #2a2aff;
}
div.west {
	background: #ff5555;
}
div.tramlink {
	background: #00bd19;
}